{% extends 'userbase.html' %}
{% load static %}

{% block contents %}

<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
            <h2>Welcome back <span>Champ!</span></h2>
        </div>


        <div class="col-md-4 work31 order-md-last order-first">
		<br>
		<br>
          <img src="{% static 'img/work31.png' %}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

{% endblock %}