{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Metric Check</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
            <a href="https://twitter.com/Sadaf_Shaik" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/sadafshaikhhhh/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/sadafshaikh7/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/__sadafshaikh/" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span> <span> <h1>Metric Check<span></span></h1></span></a></h1>
         <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> 
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="{% url 'userpage' %}">Home</a></li>
          <li><a href="{% url 'index' %}">Hello</a></li>
          <li><a href="{% url 'editor' %}">Editor</a></li>
          <li><a href="{% url 'logoutuser' %}">logout</a></li>



        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->


 {% block contents %}



            {% endblock %}







  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
