{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>Metric Check</title>
  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
 <!--==========================
  Header
  ============================-->
<header id="header" class="fixed-top header-transparent">
    <div id="topbar">
      <div class="container">
        <div class="social-links">
            <a href="https://twitter.com/Sadaf_Shaik" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/sadafshaikhhhh/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/sadafshaikh7/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/__sadafshaikh/" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
	
	

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span> <h1>Metric Check<span></span></h1></span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
		  <li><a href="#about">About Me</a></li>
		  <li><a href="#services">Services</a></li>
          <li><a href="{% url 'userlogin' %}">User</a></li>
          <li><a href="{% url 'adminlogin' %}">Admin</a></li>
		  
		  <!--<li><a href="#footer">Contact Us</a></li>-->
		  
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->
  
  
    
 {% block contents %}


            {% endblock %}

	<!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-6 col-md-7">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
			<br>
			
              <h2>About Me</h2>
              <h3>I am Sadaf Shaikh</h3>
              <p>Student at Bennett University.</p>
			  
              <p>This Application is to provide access to programmers to check their code's metadata!! Hello I am here to help you guys out! This Application is to provide access to programmers to check their code's metadata!! Hello I am here to help you guys out! .</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Easy to use.</li>
                <li><i class="ion-android-checkmark-circle"></i> Detailed Report.</li>
                <li><i class="ion-android-checkmark-circle"></i> Costless Approach.</li>
              </ul>
            </div>
			
          </div>
        </div>
      </div>

    </section><!-- End About Section -->
			
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Metrics</h3>
          <p>You get the following metric evaluations after uploading the code file.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">SLOC</a></h4>
              <p class="description">Number of Source lines of code. Lets us know the number of source code lines excluding comments</p>
			  <!--<p class="description">xyz</p>-->
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Cyclomatic Complexity</a></h4>
              <p class="description">Determines the complexity of the code. Helps in productivity.  
			  </p>
			  <p class="description">prevention is better than cure!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Modified / Accessed</a></h4>
              <p class="description">The report gives the date it was last modified and accessed.</p>
			  <p class="description">prevention is better than cure!</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Comment Lines</a></h4>
              <p class="description">Number of comment lines are calculated.</p>
			  <p class="description">prevention is better than cure!</p>
			  <p class="description">prevention is better than cure!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200"">
        <div class=" box">
            <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
            <h4 class="title"><a href="">Maintainability Index</a></h4>
            <p class="description">Helps us know how maintainable our code is! </p>
			<p class="description">prevention is better than cure!</p>
			
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
            <h4 class="title"><a href="">Number of Classes</a></h4>
            <p class="description">Detects number of classes and functions.</p>
			<p class="description">Number of Control loop statements!</p>
			<p class="description">These help in determining the complexity</p>
          </div>
        </div>

      </div>

      </div>
    </section><!-- End Services Section -->
	
	



  



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
